.square {
  background: white;
  color: black;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  font-size: 24px;

  &.winningSquare {
    color: red;
    border: 1px solid red;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
}

.restartButton {
  font-size: inherit;
}

.topBar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 24px;
}

.gameStatus {
  margin-left: 10px;

  &.gameOver {
    color: red;
  }
}
